body {
	background-color: rgb(220, 255, 220);
	
	font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	margin: 0;
	padding: 0;
}

.header-lightgreen {
	background-color: rgb(190, 255, 190);

	width: 100%;
	height: 60px;
}

.header-box {
	width: 100%;
	height: 50px;
	top: 0;

	padding-bottom: 10px;
	padding-right: 307px;
}

.header-icon img {
	width: 45px;
	height: 45px;
	margin: 8px;
	
	float: left;
	clear: both;
}

.header-title,
.header-title a:visited {
	color: black;
	
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 200%;
	
	float: left;
}

.header-empty {
	height: 60px;
}

.wrapper {
	width: 950px;
	height: 200px;
	margin: 0 auto;
	top: 120px;
}

/* @border-radius all */
li, li:hover, nav, .navigator, .page,
.mainPost {
	border-radius: 4px;
}

.navigator {
	width: 188px;
	height: auto;
	margin: 10px 0 0;

	float: right;
	clear: both;
}

.navigator a:visited, .navigator a:link {
	color: black;
	text-decoration: none;
}

nav {
	background-color: rgb(250, 250, 250);
	box-shadow: 2px 2px 4px lightgrey;
	padding: 10px;
}

li {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 4px;
	padding-left: 12px;
	margin-top: 4px;
	list-style-type: none;
	text-decoration: none;
}

li:hover {
	background-color: rgb(220, 250, 220);
	box-shadow: 2px 2px 4px rgb(161, 200, 161);
}

#one_li {
	margin-top: 0;
}

.navBottom {
	margin: 10px;
}

.page {
	background-color: rgb(250, 250, 250);
	box-shadow: 2px 2px 4px lightgrey;
	
	width: 750px;
	height: 910px;
	margin-left: 11px;
	margin-top: 10px;

	float: left;

	margin-bottom: 10px;
	margin-left: 200px;
}

.li_h1 {
	border-bottom: 1px solid lightgray;
	margin: 20px;
	font-weight: 500;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.mainPage {
	margin-left: 10px;
	margin-right: 10px;
}

.mainPage a:link,
.mainPage a:visited {
	text-decoration: none;
	color: black
}

.mainPost {
	background-color: rgb(220, 255, 220);
	box-shadow: 2px 2px 4px lightgrey;

	margin: 9px 9px;
	transition: all 0.3s ease;
}

.mainPost:before {
	transform: scale(1.0)
}

.mainPost:hover {
	transform: scale(1.1)
}


.mainTitlePost {
	background-color: white;
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 8px 12px;
	width: 100%;	
}

#main-post1 {
	background-image: url(image/semena.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;

	width: 444px;
	height: 180px;

	float: inline-start;
	
	display: flex;
	align-items: flex-end;
}

#main-post2 {
	background-image: url(image/list.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 250px;
	height: 180px;

	float: inline-end;

	display: flex;
	align-items: flex-end;
}

#main-post3 {
	background-image: url(image/home.png);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: -70px -40px;
	width: 250px;
	height: 180px;
	
	float: inline-start;
	clear: inherit;

	display: flex;
	align-items: flex-end;
}

#main-post4 {
	background-image: url(image/sad.jpg);
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: -30px -50px;
	width: 250px;
	height: 180px;

	float: inline-start;
	clear: inherit;

	display: flex;
	align-items: flex-end;
}

#main-post5 {
	background-image: url(image/pho.jpg);
	background-repeat: no-repeat;
	background-size: 135%;
	background-position: -120px -50px;
	width: 444px;
	height: 378px;

	float: inline-end;

	display: flex;
	align-items: flex-end;
}

#main-post6 {
	background-image: url(image/tree2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 -170px;
	width: 712px;
	height: 180px;

	float: inline-start;

	display: flex;
	align-items: flex-end;
}

.footer-lightgreen {
	background-color: rgb(190, 255, 190);
	width: auto;
	height: 60px;

	clear: both;
}

.footer-box {
	width: 950px;
	height: 60px;
	margin: 0 auto;
}

.sticky {
	position: fixed;
}