/* coding: utf-8 */
body {
	background-color: rgb(220, 255, 220);

	font-family: Inter, "Segoe UI", "Roboto", sans-sans;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

.header-lightgreen {
	background-color: rgb(190, 255, 190);

	width: 100%;
	height: 60px;
}

.header-box {
	width: 100%;
	height: 50px;
	top: 0;

	padding-bottom: 10px;
	padding-right: 307px;
}

.header-icon img {
	width: 45px;
	height: 45px;

	margin: 8px;
	float: left;
	clear: both;
}

.header-title,
.header-title a:visited {
	color: black;

	font-family: Georgia, 'Times New Roman', serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 200%;

	float: left;
}

.header-empty {
	height: 60px;
}

.wrapper {
	width: 950px;
	height: 200px;
	top: 120px;

	margin: 0 auto;
}

/* @border-radius all */
li,
li:hover,
nav,
.navigator,
.page,
.mainPost {
	border-radius: 4px;
}

.navigator {
	width: 188px;
	height: auto;

	margin: 10px 0 0;
	float: right;
	clear: both;
}

.navigator a:visited,
.navigator a:link {
	color: black;
	text-decoration: none;
}

nav {
	background-color: rgb(250, 250, 250);
	box-shadow: 2px 2px 4px lightgrey;

	padding: 10px;
}

li {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-weight: 600;


	margin-top: 4px;
	padding: 4px;
	padding-left: 12px;

	list-style-type: none;
	text-decoration: none;
}

li:hover {
	background-color: rgb(220, 250, 220);
	box-shadow: 2px 2px 4px rgb(160, 200, 160);
}

#one_li {
	margin-top: 0;
}

.navBottom {
	margin: 10px;
}

.page {
	text-shadow: 1px solid black;
	background-color: rgb(250, 250, 250);
	box-shadow: 2px 2px 4px lightgrey;

	width: 750px;
	height: 910px;
	margin-left: 11px;
	margin-top: 10px;

	float: left;

	margin-bottom: 10px;
	margin-left: 200px;
}

#pText {
	width: 100%;
	text-align: justify;
}

/*! @spoiler start */
/* Значок заголовки спойлера */
/* Не раскрытый спойлер (значок) */
.spoiler>input+label:after {
	content: "▶";
	float: inline-start;
	margin-right: 8px;
}

/* Раскрытый спойлер (значок)*/
.spoiler>input:checked+label:after {
	content: "▼";
	float: inline-start;
	margin-right: 8px;
}

/* Не раскрытый спойлер (заголовка) - false */
.spoiler>input+label,
.spoiler>.spoiler_body {
	background: white;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 4px lightgrey;
	border-radius: 4px;

	text-align: justify;
	width: 100%;
	padding: 5px 15px;
	overflow: hidden;
	box-sizing: border-box;
	display: block;
	cursor: pointer;
}

/* @animation spoiler */
.spoiler>input+label {
	transition: all .5s ease;
}

.spoiler:hover>input:hover+label:hover {
	background-color: rgb(248, 248, 248);
}

.spoiler:before>input:before+label:before {
	background-color: white;
}

/*! end */

/* Рскрытый спойлер (заголовка) - true */
.spoiler>input:checked+label {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	text-align: justify;
	margin: 0;
	cursor: pointer;
}

/* Параметры спойлера */
.spoiler>input:checked+label+.spoiler_body {
	display: block;
}

.spoiler>input+label+.spoiler_body,
.spoiler>input {
	display: none;
}

.spoiler {
	margin: 10px 0 0
}

.spoiler,
.spoiler_body,
#pText {
	font-size: 14px;
}

/* Раскрытый спойлер (скрытый текст) */
.spoiler>.spoiler_body {
	background: white;

	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	margin: 0;
	padding-top: 8px;
	padding-left: 16px;
	padding-bottom: 12px;

	cursor: default;
}

#tire {
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	border-bottom: 1px solid gray;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 4px;
}

#mText {
	list-style-type: circle;
}

/*! @spoiler end */

.li_h1 {
	border-bottom: 1px solid lightgray;
	font-weight: 500;

	margin: 20px;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.mainPage {
	margin-left: 20px;
	margin-right: 20px;
}

.mainPage a:link,
.mainPage a:visited {
	text-decoration: none;
	color: black
}

#stat,
#stat p,
#stat a {
	font-size: 12px;
	color: green;
	text-align: end;
	padding: 0;
	margin: 10px 0 0;
	margin-bottom: 0px;
}

.sticky {
	position: fixed;
}

.fix {
	height: auto;
	padding-bottom: 20px;
}